.commission-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.commission-header {
    font-family: "Satisfy", sans-serif;
}

.commission-headline {
    margin: 2rem 0 1rem 0;
}

.commission-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* phone (portrait and landscape) ----------- */
@media only screen 
and (min-width : 100px)
and (max-width : 759px) {

    .commission-text {
        font-size: 20px;
    }

    .commission-header {
        font-size: 50px;
        color: black;
        font-weight: 600;
    }

    .commission-header2 {
        font-size: 50px;
        font-weight: 600;
    }
}

/* Tablet (portrait and landscape) ----------- */
@media only screen 
and (min-width : 760px)
and (max-width: 1300px)  {

    .commission-header {
        font-size: 76px;
        font-weight: 600;
    }

    .commission-header2 {
        font-size: 76px;
        font-weight: 600;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1300px) {

    .commission-header {
        font-size: 76px;
        font-weight: 600;
    }

    .commission-header2 {
        font-size: 76px;
        font-weight: 600;
    }
}